@media (min-width: 700px) {
  /** section **/
  section {
    width: 85%;
    margin: auto;
  }

  /** first illustration **/
  .main-bg-headline {
    background-image: url("../img/desktop/main-bg-headline.png");
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /** headline section **/
  .Head-Line {
    min-height: 500px;
    max-height: 1000px;
  }

  .main-subtext-headlin-width {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .h2-work {
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .midbar {
    display: none;
  }

  /** media for cards **/
  .gray-content-height,
.card-project,
.card-about-me {
  width: 100%;
  max-width: 369px;
  margin: 0 auto;
}
.card {
  height: 400px;
  padding: 0 20px; /* Adds 20 pixels of padding on the left and right sides of the element */
}

  /** media query on grid   **/
  .grid-center-horizental1,
  .grid-center-horizental2,
  .grid-center-horizental3
  .grid-center-horizental5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 20px;
  }

  .grid-center-horizental4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
  }

  /** contact -us **/
  .on-mobile-display {
    display: none;
  }

  .on-desktop-display {
    display: unset;
    padding-bottom: 250px;
  }

  .flex-center-horizental0 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 50px;
  }

  .flex-center-horizental1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .contactus-heading {
    font-family: "Inter", sans-serif;
    width: 463px;
    height: 256px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
  }

  .contact-input {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .input-contact-textarea {
    width: 100%;
    height: 114px;
  }

  /** inputs **/
  .contact-input,
  .input-contact-textarea {
    width: 620px;
  }

  /** about me **/
  .aboutme-paragraph {
    width: 920px;
  }

  /** skills **/
  .grid-center-horizental2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 900px) {
    .card-project {
      width: 369px;
      float: none;
}

    .grid-center-horizental1,
    .grid-center-horizental2,
    .grid-center-horizental3 {
      grid-template-columns: repeat(3, 1fr);
    }

    .skill {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .skill-item {
      width: calc((100% - 60px) / 3);
    }

    .skill-image {
      width: 100%;
      margin: 0 auto;
    }

    .skill-text {
      text-align: center;
      margin-top: 20px;
    }

    .skill-item:nth-child(3) {
      grid-row: auto;
      grid-column: auto;
    }
  }

  @media (min-width: 900px) {
    .card-project {
      width: 369px;
      float: none;
}

    .grid-center-horizental1,
    .grid-center-horizental2,
    .grid-center-horizental3 {
      grid-template-columns: repeat(3, 1fr);
    }

    .skill {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .skill-item {
      width: calc((100% - 60px) / 3);
    }

    .skill-image {
      width: 100%;
      margin: 0 auto;
    }

    .skill-text {
      text-align: center;
      margin-top: 20px;
    }

    .skill-item:nth-child(3) {
      grid-row: auto;
      grid-column: auto;
    }
  }
}
