/* Mobile Menu styles */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  /* add animation properties */
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu-items li a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: #333;
  font-weight: bold;
}

.mobile-menu-items li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mobile-menu-items li a.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.mobile-menu .close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

.mobile-menu .close-btn:hover {
  color: #999;
}

/* Header styles */
.on-mobile-display {
  display: none;
}

@media (max-width: 768px) {
  .on-mobile-display {
    display: block;
  }

  .nav {
    display: none;
  }

  .mobile-header-color {
    color: #333;
  }

  .Sidebar-class .Bars {
    background-color: #333;
  }

  .Sidebar-mobile {
    display: block;
    float: right;
  }

  .mobile-menu {
    padding-top: 4.5rem;
  }
}

/* Responsive styles for larger screens */
@media (min-width: 769px) {
  .on-mobile-display {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  .nav-links li {
    margin-right: 1rem;
  }

  .nav-links li:last-child {
    margin-right: 0;
  }

  .nav-links li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-links li a:hover {
    text-decoration: underline;
  }

  .Sidebar-mobile {
    display: none;
  }
}
